/* The integration's default injected base.css file */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'DM Sans Variable', sans-serif;
    @apply text-hr-text;
  }

  a {
    @apply text-hr-primary-light;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Raleway Variable', sans-serif;
  }
}

@layer utilities {
  .app-banner {
    @apply w-screen m-auto relative left-[calc(-50vw_+_50%)];
  }
  .app-container {
    @apply m-auto px-4 xs:px-8 lg:max-w-5xl;
  }
}

.bg-gradient {
  background-image: linear-gradient(
    100deg,
    rgba(31, 81, 154, 0.6) 6.07%,
    rgba(31, 148, 100, 0.6) 40.78%,
    rgba(31, 154, 95, 0.6) 58.45%,
    rgba(250, 164, 102, 0.6) 82.42%
  );

  background-size: cover;
  background-position: center;
}
