---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Home Appliance Repair">
  <main class="font-text">MAIN PAGE</main>
  <button>clickme</button>
  <h3>asda</h3>
  <p>asdasd</p>
  <p>sdasdas</p>
  <h1>TITULO</h1>
  <p>PARRAFO</p>
</Layout>
