---
import CallToAction from '../components/CallToAction.astro';
import ImagesSlider from '../components/ImagesSlider.astro';
import SectionTitle from '../components/SectionTitle.astro';
import ServiceButton from '../components/ServiceButton.astro';
import Layout from '../layouts/Layout.astro';
const beneficts = [
  '24/7 availability ensuring your appliance issues are promptly addressed.',
  "From diverse brands to various problems, we've got you covered.",
  'Browse through our Google reviews to see satisfied customers',
];

const services = [
  {
    image: '/images/services/refrigerator.png',
    title: 'Refrigerator Repair',
  },
  {
    image: '/images/services/dishwasher.png',
    title: 'Dishwasher',
  },
  {
    image: '/images/services/microwave.png',
    title: 'Microwave Repair',
  },
  {
    image: '/images/services/dryer.png',
    title: 'Dryer Repair',
  },
  {
    image: '/images/services/garbage.png',
    title: 'Garbage Disposal',
  },
  {
    image: '/images/services/oven.png',
    title: 'Oven, Stove Repair',
  },
];
---

<Layout title="Home Appliance Repair">
  <main class="app-container">
    <!-- HERO BANNER -->
    <section
      class="app-banner bg-gradient h-[calc(100vh_-_250px)] flex items-center justify-center text-center flex-col gap-4"
    >
      <h1 class="text-3xl sm:text-4xl lg:text-5xl text-white font-semibold">
        Appliance Repair Service Experts
      </h1>
      <div class="text-xl sm:text-3xl">
        <p class="text-white">Trust the professionals!</p>
        <div class="text-hr-secondary-light" aria-label="hidden">
          Call us: <span class="font-bold">(408) 909-1844 </span>
        </div>
      </div>
    </section>
    <div class="flex justify-center -mt-24 relative z-10 pb-20">
      <CallToAction />
    </div>

    <!-- WHY US? -->

    <section class="pb-12">
      <SectionTitle title="Why us?" subtitle="Efficiency in every fix." />
      <ImagesSlider />
      <div class="flex flex-col gap-6 py-12">
        {
          beneficts.map((item) => {
            return (
              <div class="flex items-center gap-6">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                >
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M12 21C13.1819 21 14.3522 20.7672 15.4442 20.3149C16.5361 19.8626 17.5282 19.1997 18.364 18.364C19.1997 17.5282 19.8626 16.5361 20.3149 15.4442C20.7672 14.3522 21 13.1819 21 12C21 10.8181 20.7672 9.64778 20.3149 8.55585C19.8626 7.46392 19.1997 6.47177 18.364 5.63604C17.5282 4.80031 16.5361 4.13738 15.4442 3.68508C14.3522 3.23279 13.1819 3 12 3C9.61305 3 7.32387 3.94821 5.63604 5.63604C3.94821 7.32387 3 9.61305 3 12C3 14.3869 3.94821 16.6761 5.63604 18.364C7.32387 20.0518 9.61305 21 12 21ZM11.768 15.64L16.768 9.64L15.232 8.36L10.932 13.519L8.707 11.293L7.293 12.707L10.293 15.707L11.067 16.481L11.768 15.64Z"
                    fill="#1F9A5F"
                  />
                </svg>
                <p class="flex-1">{item}</p>
              </div>
            );
          })
        }
        <button
          class="border mx-auto min-w-[300px] border-hr-primary gap-2 text-lg font-medium text-hr-primary px-6 py-2 rounded-full"
        >
          Schedule a service
        </button>
      </div>
    </section>

    <section>
      <SectionTitle
        title="Our Services"
        subtitle="Fast repairs, lasting results."
      />

      <div class="grid grid-cols-2 lg:grid-cols-3 gap-4">
        {
          services.map((service) => {
            return (
              <ServiceButton image={service.image} title={service.title} />
            );
          })
        }
      </div>
    </section>

    <section>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo, natus nemo?
      Aspernatur quisquam reiciendis animi unde sequi sed, iure porro iste
      beatae soluta molestiae nulla fuga in non, temporibus deserunt.
    </section>
  </main>
</Layout>
