---
import 'swiper/css';
import 'swiper/css/navigation';
import { comments } from '../utils/data/Comments';
---

<!-- Slider main container -->
<div class="swiper-comments overflow-hidden py-8">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    {
      comments.map((comment) => (
        <div class="swiper-slide ">
          <div class="w-[250px] mx-auto bg-white rounded-xl p-8 flex flex-col gap-4 text-left shadow-[2px_15px_27.3px_5px_rgba(175,_190,_211,_0.22)]">
            <div class="flex gap-2">
              <img class="rounded-full w-9 h-9" src={comment.image} alt="" />
              <div class="flex flex-col items-start">
                <p class="text-xs">{comment.name}</p>
                <span class="text-[10px]">Posting on Google</span>
              </div>
            </div>
            <p class="text-xs ">{comment.content}</p>
            <a
              href={comment.url}
              target="_blank"
              class="text-hr-primary underline text-xs"
            >
              Read more
            </a>
          </div>
        </div>
      ))
    }
  </div>
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>
</div>
<style>
  .swiper-comments .swiper-button-prev,
  .swiper-rtl .swiper-button-next {
    left: var(--swiper-navigation-sides-offset, 20px);
    right: auto;
  }

  .swiper-comments .swiper-button-next,
  .swiper-rtl .swiper-button-prev {
    right: var(--swiper-navigation-sides-offset, 20px);
    left: auto;
  }

  @media (min-width: 768px) {
    .swiper-comments .swiper-button-prev,
    .swiper-rtl .swiper-button-next {
      left: var(--swiper-navigation-sides-offset, 40px);
      right: auto;
    }

    .swiper-comments .swiper-button-next,
    .swiper-rtl .swiper-button-prev {
      right: var(--swiper-navigation-sides-offset, 40px);
      left: auto;
    }
  }
</style>
<script>
  import Swiper from 'swiper';
  import { Navigation } from 'swiper/modules';

  new Swiper('.swiper-comments', {
    // Optional parameters
    slidesPerView: 'auto',

    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
    modules: [Navigation],
    // loop: true,
    speed: 1000,
    breakpoints: {
      0: {
        slidesPerView: 1,
      },

      450: {
        slidesPerView: 1.5,
      },
      600: {
        slidesPerView: 2,
      },
      768: {
        slidesPerView: 2.3,
      },
      800: {
        slidesPerView: 3,
      },
      1200: {
        slidesPerView: 4,
      },
    },
  });
</script>
