---
import { tel } from '../../constants';
import Logo from './Logo.astro';
---

<header
  class="flex px-4 justify-between items-center h-[76px] fixed top-0 left-0 z-20 bg-white w-full shadow-[0px_3px_5px_0px_rgba(0,_0,_0,_0.20)]"
>
  <Logo />
  <div class="flex items-center gap-2">
    <span class="relative flex h-2 w-2">
      <span
        class="animate-ping absolute inline-flex h-full w-full rounded-full bg-green-500 opacity-75"
      ></span>
      <span class="relative inline-flex rounded-full h-2 w-2 bg-green-500"
      ></span>
    </span>
    <a class="font-bold text-sm sm:text-base" href={`tel:${tel}`}> {tel} </a>
  </div>
</header>
