---
import 'swiper/css';
import 'swiper/css/navigation';
import { benefits } from '../utils/data/benefits';
import { Image } from 'astro:assets';
---

<!-- Slider main container -->
<div class="swiper">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    {
      benefits.map((benefit) => (
        <div class="swiper-slide flex justify-center">
          <Image src={benefit.image} alt={benefit.alt} loading={'lazy'} />
        </div>
      ))
    }
  </div>
</div>
<style>
  .swiper {
  }
</style>
<script>
  import Swiper from 'swiper';
  import { Autoplay } from 'swiper/modules';

  new Swiper('.swiper', {
    // Optional parameters
    modules: [Autoplay],
    direction: 'horizontal',
    slidesPerView: 1,
    initialSlide: 2,
    centeredSlides: true,
    loop: true,
    autoplay: true,
    speed: 1000,
  });
</script>
