---
import { Image } from 'astro:assets';
import logo from '../assets/images/thumbnails/icon.png';
---

<div class="flex items-center gap-2">
  <Image
    class="w-11 h-11 sm:h-14 sm:w-14"
    src={logo}
    alt="Logo of the home appliance repair company"
  />
  <p class="text-xs sm:text-base">
    <span class="font-bold text-[#585555]">Home</span>
    Appliance Repair
  </p>
</div>
