---
import '@fontsource-variable/dm-sans';
import '@fontsource-variable/raleway';
import Header from '../components/Header.astro';
import '../styles/globals.css';
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>
      Home Appliance Repairs | Cupertino & Surrounding Areas, California | Your
      Trusted Repair Service
    </title>
    <meta
      name="description"
      content="Home Appliance Repairs is your trusted service for all home appliance repairs in Cupertino and surrounding areas of California. Our expert technicians are here to ensure your appliances are running smoothly. Call us today for reliable service!"
    />
    <!-- SEO -->
    <meta
      name="keywords"
      content="home appliance repairs, Cupertino, California, appliance repair service, refrigerator repair, washer repair, dryer repair, oven repair, dishwasher repair, surrounding areas"
    />
    <meta name="geo.region" content="US-CA" />
    <meta name="geo.placename" content="Cupertino and Surrounding Areas" />
    <meta name="geo.position" content="37.3229;-122.0322" />
    <meta name="ICBM" content="37.3229, -122.0322" />

    <!-- SEO END -->
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <!-- <link
      href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family= :ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    /> -->
  </head>
  <body class="overflow-x-hidden">
    <Header />
    <slot />
  </body>
</html>
